<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
    <style>
        

    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port+'/');
            window.addEventListener('pageshow', (event) => {
                if (event.persisted) {
                
                location.reload();

            }
            });
            
            socket.on('game_code_valid', function(data) {
                console.log('Received response:', data);
                if (data.valid == 'True') {
                    nickname = $('#nickname').val();
                    gamecode = $('#numberInput').val();
                    socket.emit('join',nickname,gamecode);
                    return window.location.href = "{{ url_for('lobby') }}";
                }
                if (data.valid == 'Name') {
                    return $('#warning').text('There is already a user with that nickname in the lobby. Please change your name');
                }
                else {
                    return $('#warning').text('Invalid game code');
                }
            });
        })    
        
        async function validateGameCode() {
            nickname = $('#nickname').val()
            if(nickname == '') {
                $('#warning').text('Enter a nickname')
                return false;
            }
            gamecode = $('#numberInput').val();
            if(/^\d{6}$/.test(gamecode)) {
                await socket.emit('validate_game_code', gamecode, nickname)
                console.log('Sent game code for validation:', gamecode);
            } else {
                $('#warning').text('You must provide a 6 digit game code');
            }
            return false;
        };
        
        async function createLobby() {
            nickname=$('#nickname').val();
            const gamecode = generateRandomString(6);
            if(nickname=='') {
                $('#warning').text('Enter a nickname')
                return false;
            }
            else {
                await socket.emit('create_lobby', nickname, gamecode)
                console.log(nickname, ' created a lobby')
                window.location.href = "{{ url_for('lobby') }}";
            }
        }
        function generateRandomNumber() {
            return Math.floor(Math.random() * 10);
        }

        function generateRandomString(length) {
            let result = '';
            for (let i = 0; i < length; i++) {
                result += generateRandomNumber();
            }
            return result;
        }
    </script>
    <link href="{{ url_for('get_static_file', filename='indexStyle.css') }}" rel="stylesheet" type="text/css" >
</head>

<body>
    <div class="container">
        <h1 title="Haos Cards" id="welcome-text">Haos Cards</h1>
            <input type="text" id="nickname" placeholder="Enter your nickname" name="nickname" required>
            <br>
            <button type="button" name="action" value="create" id="createButton" onclick='createLobby()'>Create Game</button>
            <button type="button" name="action" value="join" id="joinButton" onclick="validateGameCode()">Join Game</button>
            <br>
            <input type="number" id="numberInput" name="gamecode" placeholder="Gamecode" min='100000' max="999999">
            <br>
        <p id="warning" style="color: red;"></p>
    
        
        
    </body>
        
    </div>

</html>
