<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='ack.js') }}"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    
    var socket;
    var PlayersDatabase = null;
    var selectedButton = null;
    var acknowledgements = {};
    $(document).ready(function() {
        socket = io.connect('http://' + document.domain + ':' + location.port+'/');
        
        console.log('Connection established');
        console.log('{{session["nickname"]}}', 
                    "{{ session['room'] }}",
                    "{{ session['player_room'] }}")

        socket.emit('lobby_player_update', 
                    'join');
        
        socket.on('server_response', function(data) {
            var acknowledgement_id = data.acknowledgement_id;
            console.log('Received server response: ', acknowledgement_id);
            return acknowledgements[acknowledgement_id] = "true";
        });
        socket.on('lobby_player_data', function(data) {
            console.log(data)
            var players = data.players;
            var owner = data.owner;
            generate_players_counter(players);
            generate_players(players, owner);
            toggleStyle(players,owner);
            client_response(data)

        })

        socket.on("kicked", function(data) {
            console.log(data)
            client_response(data)
            if (data.nickname === "{{ session['nickname'] }}") {
            console.log("You have been kicked from the lobby.");
            leave_lobby();
            }
        })

        socket.emit('request_settings', 
                    "{{ session['room'] }}")
        

        

        socket.on('settings_data', function(data) {
            console.log(data)
            var points2win = data.p2w;
            var roundTime = data.rt;
            var cardsPerP = data.cpp;
            var acknowledgement_id = data.acknowledgement_id
            generate_settings(points2win,roundTime,cardsPerP)
            client_response(data)

        })

        socket.on('game_started', function(data) {
            console.log('Game started');
            client_response(data)
            window.location.href = "{{ url_for('play') }}";
        })
        

        $('#game-code').click(function() {
            var gamecode = "{{session['room']}}"
            copyToClipboard(gamecode);
        });
        
        $('.arrow-button').click(function() {
            var action = parseInt($(this).data('action')); // Get the action (+ or -)
            var target = $(this).data('target'); // Get the target (e.g., round time)
            var minValue = parseInt($(this).data('min'));
            var maxValue = parseInt($(this).data('max'));
            var currentValue = parseInt($('#'+target).text());
            var gamecode = "{{session['room']}}"
            var value = currentValue + action;
            var changeValue = Math.abs(action);
            
            // Find the buttons related to the current target
            var relatedButtons = $('.arrow-button[data-target="' + target + '"]');
            var plusButton = relatedButtons.filter('[data-action="'+(changeValue)+'"]');
            var minusButton = relatedButtons.filter('[data-action="'+(-1*changeValue)+'"]');

            // Enable/disable the buttons
            if (value <= minValue) {
                $(minusButton).addClass('disabled-button');
            } else {
                $(minusButton).removeClass('disabled-button');
            }
            if (value >= maxValue) {
                $(plusButton).addClass('disabled-button');
            } else {
                $(plusButton).removeClass('disabled-button');
            }

            if (selectedButton) {
                // $(selectedButton).removeClass('disabled-button');
                $(selectedButton).removeClass('selected-button');
            }
            
            if (value >= minValue && value <= maxValue) {
                var data = {
                    'target': target,
                    'value': value
                }

                send_data('change_settings', data, acknowledgements)
                
            }
            selectedButton = this;
            $(selectedButton).addClass('selected-button');
    });

        $(window).on('beforeunload', function(){
        });
    });
    function leave_lobby() {
        nickname = "{{ session['nickname'] }}"
        gamecode = "{{ session['room'] }}"
        console.log(nickname," left the lobby");
        socket.emit('lobby_player_update', 'leave', function() {
            socket.disconnect();
            window.location.href = "{{ url_for('home') }}";
        });
    }




    function generate_players_counter(players) {
        var playerCount = players.length;
        let counter = document.getElementById("playerCounter");
        counter.textContent = playerCount;
        const container = document.getElementById('player-list-container');
        $('#playerCounter').val(playerCount);
    }




    function generate_players(players, owner) {
        const container = document.getElementById('player-list-container');

        container.innerHTML = '';
        players.forEach(player => {
            const playerInstance = new Player(player);
            const playerElement = document.createElement('div');
            playerElement.classList.add('player');

            const playerNameElement = document.createElement('span');
            playerNameElement.classList.add('player-name');
            playerNameElement.innerHTML = player;
            playerElement.appendChild(playerNameElement);

            const kickButton = document.createElement('button');
            if(player !== owner){

                kickButton.classList.add('kick-button');

                kickButton.innerHTML = 'Kick';

                kickButton.addEventListener('click', () => {
                    var nickname = `${player}`;
                    console.log(`Kicking ${player} from the lobby.`);
                    socket.emit('kick_player', nickname);
                });
                playerElement.appendChild(kickButton);
            } else {
                const ownerButton = document.createElement('button');
                ownerButton.classList.add('owner-button');
                ownerButton.innerHTML = 'Owner';
                playerElement.appendChild(ownerButton);
            }
            container.appendChild(playerElement);
            });    
    }

    function generate_settings(p2w,rt,cpp) {
        $('#p2w').text(p2w);
        $('#rt').text(rt);
        $('#cpp').text(cpp);
    }

    

    function copyToClipboard(text) {
        var input = document.createElement('textarea');
        input.value = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        alert('Gamecode copied!');
        }

    function toggleStyle(players,owner) {
        nickname = "{{ session['nickname'] }}"
        var kickButtons = document.getElementsByClassName('kick-button');
        var inputs = document.getElementsByClassName('input');
        var changeArrows = document.getElementsByClassName('arrow-button')
        var startButton = document.getElementById('start-button');

        for (var i = 0; i < kickButtons.length; i++) {
            kickButtons[i].classList.remove('hidden');
        }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].classList.remove('disabled-input');
        }
        for (var i = 0; i < changeArrows.length; i++) {
            changeArrows[i].classList.remove('hidden');
        }
        startButton.classList.remove('hidden', 'disabled-button');

        if (owner !== nickname){
            for (var i = 0; i < kickButtons.length; i++) {
                kickButtons[i].classList.add('hidden');
            }
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].classList.add('disabled-input');
            }
            for (var i = 0; i < changeArrows.length; i++) {
                changeArrows[i].classList.add('hidden');
            }
            startButton.classList.add('hidden');

        }
        if (players.length < 1){
            startButton.classList.add('disabled-button');
        }
    
    }
    

    function start_game() {
        console.log('Starting game');
        var data = {};
        send_data('start_game', data, acknowledgements)
    }

    $( window ).resize(function() {
        $(".content").addClass("mobile")
    });
    
    
    class Player {
    constructor(name) {
        this.name = name;
    }
}
    </script>
    <title>Game Lobby</title>
    <link href="{{ url_for('get_static_file', filename='lobbyStyle.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <div class="right-column">
        <h2>GAMECODE:</h2>
            <div class="game-code" id="game-code" >
            {{session['room']}}
            </div>
            <div class="settings-container">
                <div class="settings-left">
                    <div class="entry">
                        <span class="text">Points to win:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-1" data-target="p2w" data-min="5" data-max="20">-</div>
                            <div class="value"><span id="p2w">0</span></div>
                            <div class="arrow-button" data-action="+1" data-target="p2w" data-min="5" data-max="20">+</div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="text">Round Time:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-5" data-target="rt" data-min="10" data-max="60">-</div>
                            <div class="value"><span id="rt">0</span>s</div>
                            <div class="arrow-button" data-action="+5" data-target="rt" data-min="10" data-max="60">+</div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="text">Cards at hand:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-1" data-target="cpp" data-min="5" data-max="12">-</div>
                            <div class="value"><span id="cpp">0</span></div>
                            <div class="arrow-button" data-action="+1" data-target="cpp" data-min="5" data-max="12">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
            <button id="start-button" class="start-button" onclick=start_game()>Start Game</button>
            <button class="leave-button" onclick=leave_lobby()>Leave Lobby</button>
        </div>    
    </div>
    <div class="left-column">
        <div class="players-container" >
            <div class="players-counter">PLAYERS:<br> 
            <span id="playerCounter">0</span>/3
        </div>
        <div id="player-list-container">

        </div>
    </div>
        
    </div>
</div>
</body>
</html>
