<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    
    var socket;
    $(document).ready(function() {
        socket = io.connect('http://' + document.domain + ':' + location.port+'/');
        var acknowledgements = {};
        var attemptsLimit = 50;
        var PlayersDatabase = null;
        var selectedButton = null;
        console.log('Connection established');
        console.log('{{session["nickname"]}}', "{{ session['room'] }}", "{{ session['player_room'] }}")
        socket.emit('player_update','{{session["nickname"]}}', "{{ session['room'] }}", 'join');
        
        socket.on('acknowledge', function(acknowledgement) {
            acknowledgements[acknowledgement.id] = acknowledgement;
        });

        socket.on('data_update', function(data) {
            console.log(data)
            var players = data.players;
            var owner = data.owner;
            generate_players_counter(players);
            generate_players(players, owner);
            toggleStyle(players,owner);
            acknowledge(data)

        })

        socket.emit('request_settings', "{{ session['room'] }}")
        

        

        socket.on('settings_data', function(data) {
            console.log(data)
            var points2win = data.p2w;
            var roundTime = data.rt;
            var cardsPerP = data.cpp;
            var acknowledgement_id = data.acknowledgement_id
            generate_settings(points2win,roundTime,cardsPerP)
            acknowledge(data)

        })

        

        $('#game-code').click(function() {
            var gamecode = "{{session['room']}}"
            copyToClipboard(gamecode);
        });
        
        $('.arrow-button').click(function() {
            var action = $(this).data('action'); // Get the action (+ or -)
            var target = $(this).data('target'); // Get the target (e.g., round time)
            var minValue = $(this).data('min');
            var maxValue = $(this).data('max');
            var currentValue = parseFloat($('#'+target).text());
            var gamecode = "{{session['room']}}"

            if (selectedButton) {
                $(selectedButton).removeClass('disabled-button');
                $(selectedButton).removeClass('selected-button');
            }

            if (action === '+' && currentValue < maxValue) {
                socket.emit('change_settings', gamecode, action, target);
            } else if (action === '-' && currentValue > minValue) {
                socket.emit('change_settings', gamecode, action, target);
            } else {
                $(this).addClass('disabled-button');
            }
            selectedButton = this;
            $(selectedButton).addClass('selected-button');
    });

        $(window).on('beforeunload', function(){
        });
    });
    function leave_lobby() {
        nickname = "{{ session['nickname'] }}"
        gamecode = "{{ session['room'] }}"
        console.log(nickname," left the lobby");
        socket.emit('player_update', nickname, gamecode, 'leave', function() {
            socket.disconnect();
            window.location.href = "{{ url_for('home') }}";
    });
    }

    function acknowledge(data) {
            var acknowledgement_id = data.acknowledgement_id
            console.log(acknowledgement_id)
            socket.emit('acknowledge', acknowledgement_id)
        }
    
    function kickFromLobby(nickname) {
        gamecode = "{{ session['room'] }}"

    }

    function generate_players_counter(players) {
        var playerCount = players.length;
        let counter = document.getElementById("playerCounter");
        counter.textContent = playerCount;
        const container = document.getElementById('player-list-container');
        $('#playerCounter').val(playerCount);
    }




    function generate_players(players, owner) {
        var nickname = '{{ session["nickname"] }}';
        const container = document.getElementById('player-list-container');

        container.innerHTML = '';
        players.forEach(player => {
            const playerInstance = new Player(player);
            const playerElement = document.createElement('div');
            playerElement.classList.add('player');

            const playerNameElement = document.createElement('span');
            playerNameElement.classList.add('player-name');
            playerNameElement.innerHTML = player;
            playerElement.appendChild(playerNameElement);

            const kickButton = document.createElement('button');
            if(player !== owner){

                kickButton.classList.add('kick-button');

                kickButton.innerHTML = 'Kick';

                kickButton.addEventListener('click', () => {

                console.log(`Kicking ${player}`);
            });
                playerElement.appendChild(kickButton);
            } else {
                const ownerButton = document.createElement('button');
                ownerButton.classList.add('owner-button');
                ownerButton.innerHTML = 'Owner';
                playerElement.appendChild(ownerButton);
            }
            container.appendChild(playerElement);
            });    
    }

    function generate_settings(p2w,rt,cpp) {
        $('#p2w').text(p2w);
        $('#rt').text(rt);
        $('#cpp').text(cpp);
    }

    function copyToClipboard(text) {
        var input = document.createElement('textarea');
        input.value = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
        alert('Gamecode copied!');
        }

    function toggleStyle(players,owner) {
        nickname = "{{ session['nickname'] }}"
        var kickButtons = document.getElementsByClassName('kick-button');
        var inputs = document.getElementsByClassName('input');
        var changeArrows = document.getElementsByClassName('arrow-button')
        var startButton = document.getElementById('start-button');

        for (var i = 0; i < kickButtons.length; i++) {
            kickButtons[i].classList.remove('hidden');
        }
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].classList.remove('disabled-input');
        }
        for (var i = 0; i < changeArrows.length; i++) {
            changeArrows[i].classList.remove('hidden');
        }
        startButton.classList.remove('hidden', 'disabled-button');

        if (owner !== nickname){
            for (var i = 0; i < kickButtons.length; i++) {
                kickButtons[i].classList.add('hidden');
            }
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].classList.add('disabled-input');
            }
            for (var i = 0; i < changeArrows.length; i++) {
                changeArrows[i].classList.add('hidden');
            }
            startButton.classList.add('hidden');

        }
        if (players.length < 3){
            startButton.classList.add('disabled-button');
        }
    
    }
    function send_data(function_name, data, gamecode) {
        var attempts = 0;
        var player_room = "{{ session['player_room'] }}";
        var acknowledgement_id = Math.random().toString(36).substr(2, 9);
        var sendAndAwaitAcknowledgement = function() {
        return new Promise(function(resolve, reject) {
            socket.emit(function_name, data, gamecode, acknowledgement_id);
            
            var interval = setInterval(function() {
                if (acknowledgements[acknowledgement_id]) {
                    resolve(acknowledgements[acknowledgement_id]);
                    clearInterval(interval);
                } else if (attempts >= attemptsLimit) {
                    reject('No acknowledgement received');
                    clearInterval(interval);
                }
                attempts++;
            }, 100);
        });
    };

    sendAndAwaitAcknowledgement().then(function(acknowledgement) {
        console.log('Acknowledgement received:', acknowledgement);
    }).catch(function(error) {
        console.log('Error:', error);
        if (attempts < attemptsLimit) {
            sendAndAwaitAcknowledgement();
        }
    });
    }
    $( window ).resize(function() {
        $(".content").addClass("mobile")
    });
    
    
    class Player {
    constructor(name) {
        this.name = name;
    }
}
    </script>
    <title>Game Lobby</title>
    <link href="{{ url_for('get_static_file', filename='lobbyStyle.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <div class="right-column">
        <h2>GAMECODE:</h2>
            <div class="game-code" id="game-code" >
            {{session['room']}}
            </div>
            <div class="settings-container">
                <div class="settings-left">
                    <div class="entry">
                        <span class="text">Points to win:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-" data-target="p2w" data-min="5" data-max="20">-</div>
                            <div class="value"><span id="p2w">0</span></div>
                            <div class="arrow-button" data-action="+" data-target="p2w" data-min="5" data-max="20">+</div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="text">Round Time:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-" data-target="rt" data-min="10" data-max="60">-</div>
                            <div class="value"><span id="rt">0</span>s</div>
                            <div class="arrow-button" data-action="+" data-target="rt" data-min="10" data-max="60">+</div>
                        </div>
                    </div>
                    <div class="entry">
                        <span class="text">Cards at hand:</span>
                        <div class="input-container">
                            <div class="arrow-button" data-action="-" data-target="cpp" data-min="5" data-max="12">-</div>
                            <div class="value"><span id="cpp">0</span></div>
                            <div class="arrow-button" data-action="+" data-target="cpp" data-min="5" data-max="12">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-container">
            <button id="start-button" class="start-button">Start Game</button>
            <button class="leave-button" onclick=leave_lobby()>Leave Lobby</button>
        </div>    
    </div>
    <div class="left-column">
        <div class="players-container" >
            <div class="players-counter">PLAYERS:<br> 
            <span id="playerCounter">0</span>/3
        </div>
        <div id="player-list-container">

        </div>
    </div>
        
    </div>
</div>
</body>
</html>
