html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.layout {
    display: grid;
    grid: "header header header" auto "leftSide body rightSide" 1fr "footer footer footer" auto / auto 1fr auto;
    gap: 8px;
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center
}

.leftSide {
    grid-area: leftSide;
}

.body {
    grid-area: body;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.rightSide {
    grid-area: rightSide;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center
}

#container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}

#blackcardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: left;
    align-items: center; /* Center vertically and horizontally */
    height: 40vh; /* Set a specific height for the parent container */
    width: 80vw;
    max-width: 100%
}

#timer {
    font-size: 1.5rem;
    color: #1F51FF;
}

.black_card {
    width: 10vw; /* Use a percentage for the width */
    max-width: 100px; /* Set a maximum width if needed */
    height: 80%;
    max-height: 150px;
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 5px; /* Add margin between black_cards */
    transition: transform 0.3s, box-shadow 0.3s;
}

#whitecardContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: left;
    align-items: center; /* Center vertically and horizontally */
    height: 40vh; /* Set a specific height for the parent container */
    width: 80vw;
}

.white_card {
    width: 10vw; /* Use a percentage for the width */
    max-width: 100px; /* Set a maximum width if needed */
    height: 80%;
    max-height: 150px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 5px; /* Add margin between white_cards */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .white_card:hover {
        transform: scale(1.1); /* Enlarge the white_card on hover */
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

.selected {
    transform: scale(1.05);
    background-color: #1F51FF;
    border-color: #1F51FF;
    box-shadow: 0 0 30px rgb(31, 81, 255, 0.5);
}

#selectButton {
    background-color: #1F51FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    #selectButton:hover {
        background-color: #1540CC;
    }
